body{
    overflow-x: hidden;
}
.box{
    transform: translateX(400%);
    transition: all ease 0.8s;
    
}
.box:nth-of-type(even){
    transition: all ease 0.8s;
    transform: translateX(-400%);
}
.show{
    transform: translateX(0)!important;
    
}

.fontw{
    font-weight: bold;
}